Host *
    ControlMaster auto
    ControlPath ~/.ssh/master-%r@%h:%p
    ControlPersist 30m

Match host *.corp.google.com
  ProxyCommand corp-ssh-helper %h %p
  TCPKeepAlive yes
  ServerAliveInterval 5
  ServerAliveCountMax 5

Host server
    HostName 144.76.57.52
    User nitnelave

Host workstation
    HostName vtolmer.zrh.corp.google.com
    ProxyCommand corp-ssh-helper %h %p
    User vtolmer
    ForwardAgent yes
    RequestTTY yes
    RemoteCommand cd $(p4 g4d fig) && zsh -l

Host workstation-gcert
    HostName vtolmer.zrh.corp.google.com
    ProxyCommand corp-ssh-helper %h %p
    User vtolmer
    ForwardAgent yes

Host workstation-adb
    HostName vtolmer.zrh.corp.google.com
    ProxyCommand corp-ssh-helper %h %p
    User vtolmer
    ForwardAgent yes
    RemoteForward 5037 localhost:5037

Host ubiquity
    HostName vtolmer.c.googlers.com
    ProxyCommand corp-ssh-helper %h %p
    User vtolmer
    ForwardAgent yes
    RemoteForward 5037 localhost:5037
