Host dad
    HostName dad.tolmer.fr
    User owncloud

Host server
    HostName server.tolmer.fr
    User nitnelave

Host acu
    HostName acu.epita.fr
    User tolmer_v

Host node7
    ProxyCommand  ssh lrde netcat -w 120 %h %p
    User vtolmer
Host bratislava
    ProxyCommand  ssh lrde netcat -w 120 %h %p
    User vtolmer
Host lrde
    HostName ssh.lrde.epita.fr
    User vtolmer
