Host *
    ControlMaster auto
    ControlPath ~/.ssh/master-%r@%h:%p
    ControlPersist 30m


Host server
    HostName 144.76.57.52
    User nitnelave

Host workstation
    HostName vtolmer.zrh.corp.google.com
    User vtolmer

Match host *.corp.google.com
  ProxyCommand corp-ssh-helper %h %p
